@font-face {
    font-family: Bungee-Regular;
    src: url('../fonts/Bungee-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code';
    

}

body{
    height: 100vh;
    width: 100vw;
    padding: 10vh;
    overflow: hidden;
    background-color: darkslategray;
}

.main{
    display: flex;
    height: 80vh;
    
}

header{
    width: 300px;
    height: 100%;
    background-color: bisque;
    padding: 16px;

    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.icon{
    width: 24px;
    height: 24px;
}

main{
    background-color: azure;
    width: 80%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;


}

nav{
    display: flex;
    flex-direction: column;
    gap: 12px;
    


    .project,
    .inbox,
    .addTask{
        height: 36px;
        display: flex;
        align-items: center;
        gap: 8px;      
        padding: 4px;
        border-radius: 4px;
        background-color: salmon;
        margin-bottom: 4px;
        justify-content: space-between;
        border: 2px solid transparent;
        transition: all .15s ease-in-out;
    }

    .project div{
        display: flex;
        gap: 4px;


    }

    .project:hover,
    .inbox:hover,
    .addTask:hover{
        cursor: pointer;
        scale: 1.06;
        border: 2px solid darkcyan;
    }

    .project:active,
    .inbox:active,
    .addTask:active{
        scale: 1;
    }

    div div p{
        display: flex;
        align-items: center;
        gap: 4px;
    }


    .tag{
        color: darkcyan;
        font-weight: 500;
        width: 24px;
        text-align: center;
    }
}



.procratinato{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    span{
        font-family: Bungee-Regular;
        font-size: 1.2rem;
        color: darkcyan;

    }
}

.addProject{

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: darkcyan;
    font-weight: 800;
    height: 36px;
    background-color: transparent;
    button{
        border: none;
        background-color: transparent;

        opacity: 0 ;

        scale: 0;

        transition: .15s all ease-in-out;
    }

    
}

.addProject:hover{
    scale: 1;
    cursor: default;
    button{
        cursor: pointer;
        opacity: 1;
        scale: 1;
    }

    button:active{
        scale: .8;
    }
}

.counter{
    color: darkslategrey;
    font-weight: 500;
    font-size: .9rem;
    
}


